*.mm
.#*
#*
.zsh_history
.freemind/log.*
*.rdb
.recentf
auto-save-list/
projectile-bookmarks.eld
.atom/.apm/
.atom/.node-gyp/
.atom/compile-cache/
.atom/npm-debug.log
.atom/packages/
.atom/projects.cson
.atom/storage/
.atom/blob-store
.config/QtProject
.config/darktable
.config/mpv/watch_later
\#.*\#
